.navbar-div{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    background-color: black;
}
.navbar-div>h3{
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 20px;
}
.nav-list{
    display: flex;
}
.nav-list>li{
    margin: 0 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

