@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    @apply bg-[#7CEDA1] px-4 py-2 rounded-lg text-black font-bold w-fit cursor-pointer h-fit
}

.outline-btn {
    @apply bg-transparent text-white border border-white h-fit w-fit
}

input {
    @apply  py-2 text-base my-5 text-[#828282] border-b border-[#E0E0E0] focus:outline-none
}


html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-thumb {
    background-color: black;
}