* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

body{
    background-color: red;
}
.h-fit {
    height: fit-content;
}

.btn {
    background-color: #7CEDA1;
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    font-size: 20px;
    width: fit-content;
    cursor: pointer;
}

.outline-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
html::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}
html::-webkit-scrollbar-thumb{
    background-color: black;
}